/* theme styling */
* {
    background-color: #8458B3;
}

button {
    background-color: #a0d2eb;
}

button a {
    color: #a28089;
}

h1, h2, h3, p, a {
    color:  #e5eaf5;
}

/* index page */

/* position main content */

.index-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content-container p {
    margin-left: 12.5%;
    margin-right: 12.5%;
    margin-bottom: 10%;
    text-align: center;
    line-height: 20px;
}

#main h1 {
    font-size: 40px;
}

#spotify-login, #about-button, #logout-button, #top-artists-button, #top-songs-button {
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 7.5px #e5eaf5;
    margin-bottom: 5%;
    width: 200px;
}

#top-artists-button, #top-songs-button {
    width: 300px;
}

footer {
    text-align: center;
}

#spotify-login:hover, #about-button:hover, #logout-button:hover {
    background-color: #e5eaf5;
    box-shadow: 5px 7.5px #d0bdf4;
}

/* about */

.text {
    text-align: center;
    margin: 5%;
    line-height: 20px;
}

#back-to-home-button {
    font-size: 2em;
    background: none;
    border: none;
    padding: 0.5em;
    color: #e5eaf5;
}

#back-to-home-button:hover {
    color: #a0d2eb;
}

#about p a {
    color:  #e5eaf5;
}

#about p a:hover {
    color: #a0d2eb;
}

/* options */

h1 {
    text-align: center;
}

.options-buttons {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
    align-items: center;
}

.options-buttons button {
    font-size: 15px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2.5px 5px #888888;
    margin-bottom: 3%;
    width: 300px;
}

#top-artists-button:hover, #top-songs-button:hover {
    background-color: #e5eaf5;
}

/* drop down styling */
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    width: 275px;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 12px 16px;
    background-color: #e5eaf5;
}

.dropdown-content a:hover {
    background-color: lightgray;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* style song display */

#top-songs-display p, #top-songs-display h3, #top-artists-display p, #top-artists-display h3 {
    margin: 5%;
    background-color: #e5eaf5;
    color: black;
}


#top-songs-display li, #top-artists-display li {
    line-height: 1.5; 
    padding: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    background-color: #e5eaf5;
}

#top-songs-display ul, #top-artists-display ul {
    background-color: #e5eaf5;
}

#top-songs-display, #top-artists-display { 
    border: 1px black solid;
    margin: 7.5%;
    background-color: #e5eaf5;
}

.track-name, .artist-name {
    font-weight: bold;
    font-size: 15px;
    background-color: #e5eaf5;
}

.track-artist, .artist-genre {
    font-weight: normal;
    display: block;
    background-color: #e5eaf5;
}

.album-art, .artist-image {
    width: 35%;
    height: auto;
    margin-right: 15px;
}

.track-details, .artist-details {
    display: flex;
    flex-direction: column;
}

.track-number, .artist-number {
    font-weight: bold;
    font-size: 30px;
    margin-right: 5%;
    line-height: 1;
    background-color: #e5eaf5;
}



/* tablet version */
@media (min-width: 768px) {

    /* index */
    .index-buttons {
        flex-direction: row;
        gap: 3%;
    }

    #spotify-login, #about-button, #logout-button {
        margin-bottom: 2.5%;
    }

    #login h1 {
        font-size: 45px;
    }

    #login p {
        font-size: 25px;
        line-height: 40px;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    /* options */
    #top-songs-display, #top-artists-display { 
        margin-left: 10%;
        margin-right: 10%;
    }

    .track-name, .artist-name {
        font-size: 25px;
    }

    .track-number, .artist-number {
        font-size: 40px;
    }

    .options-buttons {
        display: flex;
        flex-direction: row;
        gap: 2%;
        justify-content: center;
    }

    #top-songs-display p, #top-songs-display h3, #top-artists-display p, #top-artists-display h3 {
        font-size: 25px;
    }

    #back-to-home-button {
        font-size: 3em;
    }
        
}


/* desktop version */
@media (min-width: 1024px) {

    /* index */
    #spotify-login, #about-button, #logout-button {
        margin-bottom: 1.5%;
    }

    .index-buttons {
        gap: 6%;
    }
    
    /* about */
    #about .about-container {
        margin-left: 20%;
        margin-right: 20%;
    }

    #about p {
        font-size: 20px;
        line-height: 25px;
    }

    /* options */
    #top-songs-display, #top-artists-display { 
        margin-left: 20%;
        margin-right: 20%;
    }

    #top-songs-display ul, #top-artists-display ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3%;
        margin: 7.5%;
        margin-bottom: 12.5%;
    }

    #top-songs-display li, #top-artists-display li {
        border: 1px solid #ddd;
        padding: 10px;
        border-radius: 5px;
    }

    #top-songs-display h3, #top-artists-display h3 {
        font-size: 25px;
    }

    #top-songs-display p, #top-artists-display p {
        font-size: 20px;
    }
    
    #logout-button {
        margin-bottom: 5%;
    }

    #login h1 {
        font-size: 50px;
    }

    #login p {
        font-size: 30px;
        line-height: 40px;
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* accessibility */
@media (prefers-color-scheme: dark) {
    
}