
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main id="main">
        <section id = "about">
            <button id="back-to-home-button" onclick="window.location.href='/'">↩</button>
            <div class="about-container">
                <h1>About</h1>
                <div class="text">
                    <h2>What is it?</h2>
                    <p>Spotify Stats is a tool that uses Spotify's API to display a user's top 10 songs from the past month, the past 6 months, and all time. It was inspired by 'Receiptify,' a popular tool for displaying a user's Spotify statistics in a receipt format. You can find it <a href="https://receiptify.herokuapp.com/">here</a>.</p>
                </div>

                <div class="text">
                    <h2>How does it work?</h2>
                    <p>This project uses the open-source Spotify API to fetch listening data from users and report their top songs. Unfortunately, with the data available, I’m limited to showing statistics for only the past month, the past 6 months, and all time. I don’t know how Spotify stores any of this data.</p>
                </div>

                <div class="text">
                    <h2>How was it made?</h2>
                    <p>This project uses Python for the backend, primarily leveraging the 'Spotipy' library to simplify
                        the data retrieval and authorization process. HTML templates are used to display the data, CSS
                        for styling, and JavaScript for interactivity. It's hosted on PythonEverywhere, a free web hosting
                        service. You can find the code <a href="https://github.com/avajian/Spotify-Stats">here</a>.</p>
                </div>

                <div class="text">
                    <h2>Contact</h2>
                    <p>Feel free to contact me if there are any questions: avajian@umich.edu</p>
                </div>
                <br>
            </div>

        </section>
    </main>
</body>
</html>