<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Spotify homepage</title>
</head>

<body>

    <main id = "main">
        <section id="login">
            <div class="content-container">
                <h1> Spotify Stats </h1>
                <p> Spotify Stats is a tool that uses Spotify's API to display a user's top 10 songs and artists 
                    from the past month, the past 6 months, and all time.</p>
                <div class="index-buttons">
                    <button id="spotify-login" onclick="window.location.href='/login'">Login to Spotify</button>
                    <button id="about-button" onclick="window.location.href='/about'">About & Contact</button>
                </div>
            </div>
        </section>
    </main>

    <script src="static/js/interactivity.js"></script>
</body>
</html>
